Nombre Grupo: TOMASBARTOLOMEI
División: 313
Fecha: {{ ansible_date_time.date }}
--------------------------
Distribución: {{ ansible_distribution }} {{ ansible_distribution_version }}
Cantidad de Cores: {{ ansible_processor_vcpus }}
--------------------------
R1: Nombre: Tomas  Apellido: Bartolomei